<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="CadenaBD" value="Data Source=138.99.7.66,1433;Initial Catalog=PavI3k3;Persist Security Info=True;User ID=usrpav;Password=@paV13K3"/>
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
